body { 

	font-family: 'Martel', serif;
	text-align: left;
	font-size: 16px;
	 }

h1, h2, h3, h4 {
	font-family: 'Martel', serif;
}

h1 {
	font-size: 20px;
	color: green;
	text-align: center;
	padding-top: 14.5em;

}

h2 {
	font-size: 20px;
	color: green;
	text-align: center;
	line-height: 24.4em;
}

h3 {
	font-size: 20px;
	color: green;
	text-align: center;
}

h3 {
	font-size: 20px;
}
h4 {
	font-size: 24px;
}

blockquote {
	margin: 20px 60px;
	font-family: 'Martel', serif;
}

/* Header styles */

header {margin-bottom: 20px;}

}

header.reservations-bg { 
	background-image: url(../Images/luce-image-1.png);
	background-position: 30% 50%;
}

/* ensures that your images stretch the width of their containers */
img { width: 100%; }

/* Main styles */
/*Logo image size info below:*/
header > img {
	width: 220px;
	height: auto;
	padding-top: 2.9em;
}

#contact {
	color: green;
}

#content {
	color: black;
	width: 300px;
	text-align: left !important;
	margin: 0 auto;
	padding-top: 2.9em;
}


#slider {
	width: 720px;
	height: 400px;
	overflow: hidden;
}

#slider .slides {
	display: block;
	width: 6000px;
	height: 400px;
	margin: 0;
	padding: 0;
}

#slider .slide {
	float: left;
	list-style-type: none;
	width: 720px;
	height: 400px;
}

/* Nav styles */
a { 
	color: green;
	float: right;
	padding: 160px 20px;
	text-decoration: none;
	 }
a:hover { color: gold; 

}

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 60%;
	margin: auto;
}

.grid div {
	background-color: 0;
	padding: 20px;
}

}

@media only screen and (min-width: 768px)
body { 
background-color: skyblue:
 }

}

@media only screen and (min-width: 1024px)
	body { 
background-color: salmon:
 }

}

@media only screen and (min-width: 768px)
	body { 
background-color: skyblue:
 }

}
@media only screen and (min-width: 1200px)
	body { 
background-color: pink:
 }
 /*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/