body { 

	font-family: 'PT Serif', serif;
	text-align: left;
	font-size: 16px;
	 }

h1, h2, h3, h4 {
	font-family: 'PT Serif', serif;
}

h1 {
	font-size: 24px;
	color: green;
	text-align: center;
	padding-top: 1.5em;
	padding-left: 10.1em;

}

h2 {
	font-size: 16px;
	color: black;
	text-align: left;
	line-height: 1.2em;
}

h3 {
	font-size: 20px;
	color: green;
	text-align: center;
}

h3 {
	font-size: 20px;
}
h4 {
	font-size: 20px;
	color: green;
	text-align: center;
	padding-top: 14.5em;
	font-style: italic;
}

.menu-title { 
	font-style: italic;
	font-weight: normal;
}
blockquote {
	margin: 20px 60px;
	font-family: 'PT Serif', serif;
	text-align: left;
	font-style: italic;
}


strong {
font-weight: bold !important; 
font-size: 16px;
}

/* 3. Style your slideshow */
.slideshow {
	width: 80%;
	height: 400px;
	margin: 20px auto;
	outline: none;
}
/* Header styles */

header {margin-bottom: 20px;}

}

header.reservations-bg { 
	background-image: url(../Images/luce-image-1.png);
	background-position: 30% 50%;
}

/* ensures that your images stretch the width of their containers */
img { width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Main styles */
/*Logo image size info below:*/
header > img {
	width: 220px;
	height: auto;
	padding-top: 2.9em;
	display: block;
    margin-left: auto;
    margin-right: auto;
}

#contact {
	color: green;
}

#content {
	color: black;
	width: 300px;
	text-align: left !important;
	margin: 0 auto;
	padding-top: 2.9em;
}

.grid img {
	width: 40%;
}

.home-about-section {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap:10px;
}

/*#slider {
	width: 720px;
	height: 400px;
	overflow: hidden;
}

#slider .slides {
	display: block;
	width: 6000px;
	height: 400px;
	margin: 0;
	padding: 0;
}

#slider .slide {
	float: left;
	list-style-type: none;
	width: 720px;
	height: 400px;
}*/



.nav, .desktop {
    display: block;
    width: 100%;
    z-index: 900;
}

.icon {
    position: fixed;
    cursor: pointer;
    top: 5%;
    right: 0%;
    width: 40px;
    height: 45px;
    transform: translate(-50%, -50%);
    display: block;
    z-index: 1000;
}

.hamburger {
    width: 40px;
    height: 4px;
    line-height: 70px;
    background: #666;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before,
.hamburger:after {
    content: '';
    position: absolute;
    width: 40px;
    height: 4px;
    background: #666;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,.2);
    transition: .5s;
}

.hamburger:before {
    top: -10px;
}

.hamburger:after {
    top: 10px;
}

.icon.active .hamburger {
    background: rgba(0,0,0,0);
    box-shadow: 0 2px 5px rgba(0,0,0,0);
}

.icon.active .hamburger:before {
    top: 0;
    transform: rotate(45deg);
}

.icon.active .hamburger:after {
    top: 0;
    transform: rotate(135deg);
}

.menu-mobile {
    background-color: #efefef;
    height: 100vh;
    position: fixed;
    width: 100%;
    z-index: 999;
    padding-top: 150px;
    font-family: 'Helvetica', sans-serif;
    text-align: center;
}

.menu-mobile, .menu-mobile a {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.menu-mobile a {
    clear: right;
    text-decoration: none;
    color: #333;
    height: 70px;
    line-height: 70px;
}
.menu-mobile a:hover {
    color: red;
}

.desktop, .menu-desktop, .menu-mobile {
        display: none;
    }

.grid {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 40px;
	width: 90%;
	margin: auto;
}

.grid div {
	background-color: 0;
	padding: 20px;
}

.menu-page .grid {
	width: 60%;
}

@media only screen and (min-width: 768px) {
body { 
	font-size: 1.25rem;
 }

.desktop nav {
	width: 750px;
	margin:0 auto;
	list-style: none;
	padding-bottom: 100px;
}

.desktop  li {
	float: left;
}

/*nav a { 
	color: green;
	text-align: center;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 100px;
	text-decoration: none;
	display: inline-block;
	 }
a:hover { color: gold; 

}*/

.desktop nav a {
	color: green;
	display: block;
	text-align: center;
	width: 150px;
	text-decoration: none;
	padding-top: 60px;
}
.desktop nav a:hover {color: gold;
}

}

@media only screen and (min-width: 1024px){
/* Nav styles */

.hamburger, .mobile {display: none;}
  .menu-desktop {
        display: block;
        padding: 0;
        justify-content: space-evenly;
        flex-direction: row;
        height: 0;
        margin: auto;
        width: 80%;
    }
	.menu-desktop {
	}

    .menu-desktop a {
        display: inline-flex;
        margin-right: 30px;
        height: 0;
        line-height: 50px;
        text-decoration: none;
        justify-content: space-evenly;
    }
    .menu-desktop a:hover {
    }

    .desktop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        display: block;
    }

    header.nav, .menu-mobile {
        display: none;
    }

	nav {
		margin:0 auto;
		list-style: none;
		padding-bottom: 100px;
	}

	nav li {
		float: left;
	}

	nav a { 
		color: green;
		text-align: center;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 100px;
		text-decoration: none;
		display: inline-block;
		 }
	a:hover { color: gold; 

	}

	nav a {
		color: green;
		display: block;
		text-align: center;
		text-decoration: none;
		padding-top: 60px;
	}
	nav a:hover {color: gold;
	}


}

@media only screen and (min-width: 768px)
	body { 
background-color: skyblue:
 }

}
@media only screen and (min-width: 1200px)
	body { 
background-color: pink:
 }

/* Footer styles */
footer img{ 
	width: 100%;
}

 /*
font-family: 'Mansalva', cursive;
font-family: 'Dosis', sans-serif;
font-family: 'Indie Flower', cursive;
*/